
<div class="container">
  <h1>Mario Saves Princess</h1>
    <div [hidden]="submitted">
      <h1>Maze Form</h1>
      <br>
      <div class="description ">
        Plese, provide NxN grid, which containes 1 Mario ('m'), 
        1 Princess ('p'), emtpy cells ('-')or obstacles('x').
      </div>
      <br>
      <form (ngSubmit)="onSubmit()" #gridForm="ngForm">
        <div class="form-group col-xs-3">
          <label for="size">Size</label>
          <div class="capture">Size of the square grid </div>
          <input type="number" min="1" class="form-control" id="size"
                 required
                 [(ngModel)]="model.size" name="size"
                 #size="ngModel">
          <div [hidden]="size.valid || size.pristine"
               class="alert alert-danger">
            Size is required
          </div>
        </div>
  
        <div class="form-group col-xs-3">
          <label for="grid">Grid Structure</label>
          <div class="capture">Type in grid rows separated by space </div>
          <input type="text" class="form-control" id="grid"
                 [(ngModel)]="model.grid" name="grid"
                 #grid="ngModel">
          <div [hidden]="grid.valid || grid.pristine"
              class="alert alert-danger">
              Grid is required and should contain only 'm', 'p' , '-' or 'x'
          </div>
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!gridForm.form.valid">Submit</button>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Size</div>
        <div class="col-xs-9">{{ model.size }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Grid Structure</div>
        <div class="col-xs-9">{{ model.grid }}</div>
      </div>

      <path-list [pathList] = "allPaths"></path-list>

      <br>

      <maze 
        [size] = "this.model.size"
        [structure] = "this.model.grid"
        ></maze>
      <br>
    </div>

  </div>
